body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  padding: 0;
}

#app {
  display: grid;
  place-items: center;
  width: 100vw;
  height: 100vh;
  background-color: #3b3b3b;
}

#debug {
  position: absolute;
  top: 0;
  left: 0;
  color: white;
  background-color: black;
  padding: 1em;
  font-size: 10px;
}
